<div class="row">
  <div class="alert alert-success" role="alert">
    <%= link_to  "Articles", articles_path %>
  </div>
  <div class="alert alert-success" role="alert">
    <%= link_to  "Events", articles_path %>
  </div>
  <div class="alert alert-success" role="alert">
    <%= link_to  "Photos", articles_path %>
  </div>
</div>
